.image-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.small-image {
    display: none;
}

@media screen and (min-width: 700px) {
    .small-image {
        display: none;
    }
    .large-image {
        display: block;
    }
}

@media screen and (max-width: 699px) {
    .large-image {
        display: none;
    }
    .small-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}